# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
.env.*

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# VS Code / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Misc
node_modules/
/.cache
